﻿@{
    ViewData["Title"] = "Urban Electric Demo";
}

<div class="container-fluid fixed-top header disable-selection">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <h1><strong>Welcome</strong></h1>
          <p class="small">– Urban Electric Co. –</p>
          <!--.btn.btn-danger(href='#',role='button', onclick='cameraSet()') + ADD LINE-->
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
